{% extends 'basic.html' %}

{% block content %}

<h3>Лента</h3>

{% for post in posts %}
    <h2>{{ post.title }} - от пользователя
        {% if post.user.profile %}
            <a href="{% url 'profile' post.user.profile.pk %}">
                {{ post.user.profile.username }}
            </a>
        {% else %}
            Профиль отсутствует
        {% endif %}
    </h2>
    <p>{{ post.description }}</p>
    {% if post.post_image %}
    <img src="{{ post.post_image.url }}" alt="Изображение отсутствует">
    {% endif %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}